body {
    /* font stuff */
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section1 {
    background-color: antiquewhite;
}   

.section1 .header {
    display: flex;
    justify-content: space-between;
    margin: 24px 148px;
}

a {
    text-decoration: none;
    color:black;
}

.header .logo {
    
    /* larger font, bold*/
}

.header .logo, .header .links {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 24px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 148px;
}

.section2 .left-container {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: bisque;
    gap: 8px 0;
}

.section2 .header {
    
}

.section2 .subtext {
    
}

.section2 .right-container {
    display: flex;
    height: 130px;
    margin: 12px;
}

.section2 .signup {
    display: flex;
    height: 36px;
    width: 128px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.section3 {

}

.section3 .header {
    text-align: center;
    margin: 48px;
}

.section3 .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#animal {
    display: flex;
    width:100px;
    height:100px;
    border: 3px solid #555;
    border-radius: 20px;
    border-color: blue;
}

.container .animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    width:140px;
    margin-bottom: 48px;
}

.section3 .subtext {

}


