body {
    font-family: Roboto, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont,  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section1 {
    background-color: #1F2937;
}   

.section1 .header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 24px 256px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .links {
    font-size: 18px;
}

.header .logo, .header .links {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 32px;
}

.section2 {
    background-color: #1F2937;
}

.section2 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px 256px 128px;
}

.section2 .left-container {
    display: flex;
    flex-direction: column;
    width: 750px;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 24px 0;
}

.section2 .header {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.section2 .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.section2 .right-container {
    display: flex;
    height: 225px;
}

.section2 .signup {
    display: flex;
    height: 36px;
    width: 128px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    font-weight: bold;
    font-size: 20px;
    color:white;
    border-color: #3882F6;
}

.section3 {
    background-color: lightgray;
}

.section3 .header {
    text-align: center;
    padding: 48px;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.section3 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#animal {
    display: flex;
    width:200px;
    height:200px;
    border: 3px solid #555;
    border-radius: 20px;
    border-color:#3882F6;
}

.container .animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    width:240px;
    margin: 0 12px 48px 12px;
}

.section3 .subtext {

}

.section4 {
    background-color:#E5E7EB;
    padding: 50px;
}

.section4 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 96px 256px;
}

.section4 .quote {
    font-style: italic;
    text-align: justify;
    font-size: 36px;
    color: #1F2937;
}

.section4 .quoter {
    text-align: end;
    font-size 24px;
    font-weight: bold;
}

.section5 {
    background-color: lightgray;
}

.section5 .container1 {
    display: flex;
    flex-direction: column;
    padding: 48px 128px;
}

.section5 .container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 24px 48px;
    gap: 0;
    border-radius: 5px;
    background-color: #3882F6;
}

.section5 .header {
    color: white;
    font-weight: 700;
}

.section5 .subtext {
    color: white;
}

.section5 .left {
    display: flex;
    flex-direction: column;
    margin: 0 64px;
}

.section5 .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 64px;
}

.section5 .signup {
    display: flex;
    height: 36px;
    width: 128px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color:#3882F6;
    border-color: white;
    color: white;
    font-weight: 700;
    font-size:20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #1F2937;
    color: white;
}